html {
    font-size: 20px;
    background-color: whitesmoke;
}

a.nav{
    color:rgb(17, 206, 58) ;
}

a.nav:visited{
    color: rgb(102, 148, 125);
}

.button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #979094;
    color: rgb(33, 31, 136);
    font-size: 16px;
    text-decoration: solid;
    border-radius: 5px;
}

header{
    background-color: transparent;
    padding-right: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
.logo {
    display:flow-root;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(102, 148, 125);
    text-decoration: none;
    background-color:transparent;
    padding: 5px;
    outline:yellowgreen;
}

.logo:after{
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: rgb(7, 38, 211);
    transition: 300ms;
}

.logo:hover:after {
    width: 100%;
}

body{
    background-image: url("../Images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 3000px;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

main {
    margin: 0 auto;
}

table, tr, th, td, caption{
    border: 2px solid #0011ff;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
    white-space: nowrap;
}

td{
    text-align: center;
    background-color: #979094;
}

html{
    background-image: url('Images/bg.jpg');
    min-height: 100%;
    background-repeat: no-repeat;
    
}

.headings {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #1445ca;
    padding: 0px;
}
.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}
h1 {
    font-size: 48px;
    margin-bottom: 30px;
}
.heading2 {
    font-size: 18px;
    line-height: 1.6;
}
.instructions {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}
a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}
a:hover {
    background-color: #eeeeee;
    transform: scale(1.1);
    background-color: #cccccc;
    color: #ffffff;
}
li {
    font-size: 15px;
}